.Education_Container{
    height: 700px;
    width: 100%;
    background-image: url("../assets/portfolio10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1520px 720px;
    margin-top: 2%;    
}
.Education_Container h1{
    text-align: center;
    color: rgb(241, 127, 127);  
    font-size: 80px;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top: 20px;
}



.education_box{
    width:90%;
    height: 60%;
    margin-left: 5%;
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    z-index: 4;
    backdrop-filter: blur(20px);
}
.education_box h4{
    color: black;
    text-align: center;
}
.education_table {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 3;
    border: 1px solid black;
    border-collapse: collapse;
}
.education_table td, .education_table th {
    border: 1px solid gray;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .Education_Container{
        height: 1400px;
        width: 100%;
        background-image: url("../assets/portfolio10.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1520px 1440px;
        margin-top: 2%;    
    }
    .Education_Container h1{
        text-align: center;
        color: rgb(241, 127, 127);  
        font-size: 40px;
        font-weight: 400;
    }
    .college_course{
        width: 80%;
        height: 40%;
        margin-left: 10%;
        border-radius: 20px;
        z-index: 3;
        display: block;
    }
    .education_box{
        width:90%;
        height: 50%;
        background-color: white;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
        border-radius: 20px;
        z-index: 4;
        backdrop-filter: blur(20px);
        border: 1px solid black;
    
    }
    .course_box{
        width:100%;
        height: 100%;
        margin-top: 2%;
        background-color: white;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
        border-radius: 20px;
        z-index: 4;
        backdrop-filter: blur(20px);
        border: 1px solid black;
    }
    .education_table {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        z-index: 3;
        border: 1px solid black;
        border-collapse: collapse;
    }
    .education_table td, .education_table th{
        border: 1px solid gray;
        text-align: center;
    }
    .education_table th:nth-child(3),.education_table th:nth-child(4),.education_table th:nth-child(1),.education_table td:nth-child(3),.education_table td:nth-child(4),.education_table td:nth-child(1){
        display: none;
    }

  }