.experience{
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 20px;
    z-index: 3;
    backdrop-filter: blur(20px);
    width: 80%;
    height: 60%;
    margin-left: 10%;
    border: 1px solid black;
    padding: 20px;
    

}