@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
.Skills_Container{
    height: 720px;
    width: 100%;
    background-image: url("../assets/portfolio9.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1520px 720px;
    font-family: 'Fira Mono', monospace;
    font-family: 'Outfit', sans-serif;
    margin-top: 20px;
}
.Skills_Container h1{
    text-align: center;
    color: rgb(245, 118, 194);
    text-shadow: 0px 0px 2px pink;
    font-size: 80px;
    font-weight: 600; 
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.skill_box{
    width: 20%;
    height: 105%;
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 20px;
    z-index: 3;
    backdrop-filter: blur(20px);
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2%;
    margin-left: 5%;
    font-size: large;
}

.skill_box > li{
    padding-top: 30px;
}

.course_box{
    width:69%;
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 20px;
    z-index: 4;
    backdrop-filter: blur(20px);
    border: 1px solid black;
    font-size: x-large;
    padding: 2%;
}
.course_box h2{
    color: black;
    text-align: center;
    padding-bottom: 50px;

}
.course_box li{
    margin-left: 10px;
}

.course_box  button{
    border-radius: 10px;
    /* height: 50px;
    width: 200px; */
    padding: 15px;
    background-color: pink;
    padding-left: 30px;
    padding-right: 30px;

    
}
.course_box  button:hover{
    background-color: rgb(241, 127, 127);
} 
.course_box  td{
    padding: 20px;
    width: 100%;
}

   
.college_course{
    width: 90%;
    height: 60%;
    margin-left: 5%;
    display: flex;
    border-radius: 20px;
    z-index: 3;
}

@media screen and (max-width: 600px) {
    .Skills_Container{
        height: 1520px;
        width: 100%;
        background-image: url("../assets/portfolio9.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1520px 1520px;
        font-family: 'Fira Mono', monospace;
        font-family: 'Outfit', sans-serif
    }
    .Skills_Container h1{
        text-align: center;
        color: rgb(245, 118, 194);
        text-shadow: 0px 0px 2px pink;
        font-size: 40px;
        font-weight: 400; 
    }
    .skill_box{
        width: 80%;
        height: auto;
        background-color: white;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
        border-radius: 20px;
        z-index: 3;
        backdrop-filter: blur(20px);
        border: 1px solid black;
        border-collapse: collapse;
        padding: 12%;
        margin-left: 5%;
        font-size: large;
        margin-top: 10%;
    }

    
    .course_box{
        width:100%;
        background-color: white;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
        border-radius: 20px;
        z-index: 4;
        backdrop-filter: blur(20px);
        border: 1px solid black;
        font-size: small;
        padding-left: 2%;

        
    }
    .course_box h4{
        color: black;
        text-align: center;
    
    }
    .course_box li{
        margin-left: 10px;
    }
    
    .course_box button{
        border-radius: 10px;
        padding: 15px;
        background-color: pink;
        padding-left: 30px;
        padding-right: 30px;      
    }
    .course_box button:hover{
        background-color: rgb(241, 127, 127);
    } 
}